body {
    background-color: black;
    text-align: center;
    font-family: Cambria;
    color: white;
}

.container {
    display: flex;
}

h1 {
    color: white;
    margin: auto;
    margin: 2em;
}

.table {
    margin: auto;
    border-style: solid;
    border-color: white;
    border-radius: 5px;
}

button {
    font-size: 200%;
    width: 40px;
}

input {
    font-size: 14px;
    height: 40px;
    text-align: right;
}
